h2 {
  color: rgb(205, 92, 92);  
}
#h2-main{
  font-size: 2.5rem;
  color: rgb(95, 95, 148);
}

body{
    font-family: sans-serif;
}

img{
  max-width: 100%;
  height: auto;
}

a{
  text-decoration: none;
}
html{
  scroll-behavior: smooth;
}

summary{  
  display: flex;
  font-size: 2rem;
  
}
summary + * {  
  border: thin solid;
  
}